
.layout {
    display: flex;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 220px;
    background: #002555;
    color: white;
    padding: 20px;
}

.sidebar-logo img {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
    margin-top: 2em;
}

.verticalLine {
  position: relative;
  padding: .5em; /* just for demo */
  background: rgba(0, 0, 0, 0);
  margin-top: 1em;
}


.verticalLine::before{
  content: "";
  position: absolute;
  background: linear-gradient(to bottom right, #009be8, #ffffff);
}

/* top border */
.verticalLine::before {
  top: 0;
  left: 0;
  height: 4px;          /* thickness */
  width: 100%;
}


#navList {
    list-style: none;
    padding: 0;
    margin-top: 0.5em;
}

#navList li {
    margin-bottom: 10px;
}

#navList li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#SidebarNav hr {
    background-color: white;
    border-color: white;
}

.auth-links a {
    text-decoration: none;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

#subtext {
    margin-top: 0;
    color: rgb(87, 87, 87);
    font-size: 14px !important;
}
