{% extends "base.html" %}

{% block content %}
  <h1>Signatories</h1>

  <!-- Search + Sort -->
  <form method="get" class="search-sort-form">
    <input type="text" name="q" placeholder="Search..."
           value="{{ request.GET.q|default:'' }}">

    <select name="sort">
      <option selected="true" disabled>-- Sort by --</option >
      <option value="name" {% if request.GET.sort == "name" %}selected{% endif %}>Name</option>
      <option value="initials" {% if request.GET.sort == "initials" %}selected{% endif %}>Initials</option>
    </select>

    <button type="submit">Apply</button>
  </form>

  <div class="listDiv">
    <div class="list-header">
      <span class="col-1">Name</span>
      <span class="col-2">Initials</span>
      <span class="actions">Actions</span>
    </div>
    <ul>
      {% for signatory in signatories %}
        <li>
          <span class="col-1">{{ signatory.name }}</span>
          <span class="col-2">{{ signatory.initials }}</span>
          {% if user.is_authenticated %}
            <span class="actions">
              <a href="{% url 'signatory_edit' signatory.pk %}" class="button button-secondary">Edit</a>
              <a href="{% url 'signatory_delete' signatory.pk %}" class="button button-secondary">Delete</a>
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="spacer-small"></div>
  {% if user.is_authenticated %}
    <a href="{% url 'signatory_add' %}" class="button button-primary">Add New Signatory</a>
  {% endif %}
{% endblock %}
