{% load static %}

<aside class="sidebar">
            <div class="sidebar-logo">
                <img src="{% static 'core/graphics/Logo_Rigshospitalet.png' %}" alt="Logo">
            </div>
            <div class="verticalLine">
                <nav id="SidebarNav">
                    <ul id="navList">
                        <li><a href="{% url 'main_page' %}" >Dashboard</a></li>
                        <li><a href="{% url 'template_overview' %}">Templates</a></li>
                        <li><a href="{% url 'signatory_list' %}">Registered signatories</a></li>
                    </ul>
                    
                    <hr>
                    <div class="auth-links">
                        {% if user.is_authenticated %}
                            <p>Logged in as {{ user.username }}</p>
                            <form action="{% url 'logout' %}" method="post" class="logout-form">
                                {% csrf_token %}
                                <button type="submit" class="logout-link">Logout</button>
                            </form>
                        {% else %}
                            <p>Anonymous user</p>
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </nav>
        </aside>